.banner {
	background-image: url("../../images/background.jpg") ;
	background-size: cover;
	background-position: center;
	color: white;
	padding: 150px;
	text-align: left;
}

.banner p {
	margin-bottom: 30px;
}